In [1]:
# Importing librarires
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

# importing requests
import requests

from selenium.webdriver.common.by import By

### 1.Scrape the details of most viewed videos on YouTube from Wikipedia.

In [11]:
driver = webdriver.Chrome()

In [12]:
# Fetching url
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [44]:
rank = []
name = []
views = []
artist = []
upload_date = []

# for scraping the name on the page
name_tags = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name_tags:
    naming = i.text
    name.append(naming)
    
# for scraping the artist on the page
artist_tags = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist_tags:
    uploader = i.text
    artist.append(uploader)
    
# for scraping the views on respective videos
view_tags = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in view_tags:
    view_no = i.text
    views.append(view_no)
    
# for scraping the upload date of respective videos
date_tags = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in date_tags:
    date = i.text
    upload_date.append(date)
    
#  Finally creating a data frame of the scraped data
import pandas as pd
df= pd.DataFrame({'Video Name':name,'Artist':artist,"Views in Billion":views,'Upload Date':upload_date})
df.index=df.index+1
df=df.reset_index()
df=df.rename(columns={"index":"Rank"})

df

,Rank,Video Name,Artist,Views in Billion,Upload Date
0,1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,2,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,4,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,5,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,6,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,7,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,8,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,9,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,10,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,11,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,12,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,13,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,14,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,15,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,16,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,17,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,18,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,19,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,20,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,21,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,22,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,23,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,24,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,25,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,26,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,27,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,28,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,29,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,30,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

### 2.Scrape the details team India’s international fixtures from bcci.tv.
You need to find following details:
A) Series
B) Place
C) Date
D) Time

In [2]:
driver = webdriver.Chrome()

# Fetching url
driver.get('http://www.bcci.tv/')

In [3]:
fixture_tab= driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture_tab.click()

In [17]:
# Creating the empty list
Series = []
Place = []
Date = []
Time = []

# for scraping the series 
series_tags = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    series= i.text
    Series.append(series)

# for scraping the place 
place_tags = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place_tags:
    place= i.text
    Place.append(place)
    
# for scraping the Dates
date_tags = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags:
    date= i.text
    Date.append(date)
    
# for scraping the time 
time_tags = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    time= i.text
    Time.append(time)
    
# Creating the data frame
import pandas as pd 
df= pd.DataFrame({'Series':Series,'Place':Place,"Date":Date,'Time':Time})
df

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

### 3. Scrape the details of State-wise GDP of India from statisticstime.com
Url = http://statisticstimes.com/

You have to find following details: 
    A) Rank
    B) State
    C) GSDP(18-19)- at current prices
    D) GSDP(19-20)- at current prices
    E) Share(18-19)
    F) GDP($ billion)

In [2]:
driver=webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [3]:
country_link=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div[1]/a[3]')
try:
    country_link.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(country_link.get_attribute('href'))

In [5]:
link=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
link.click()

In [6]:
#scrape rank
rank=[]
try:
    ranks=driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[1]')
    for x in ranks:
        rank.append(x.text)
except NoSuchElementException:
    rank.append('-')
except StaleElementReferenceException:
    rank.append('-')
rank=rank[0:33]
print(len(rank),rank)

33 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [7]:
#scrape state name
state=[]
try:
    names=driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[2]')
    for x in names:
        state.append(x.text)
except NoSuchElementException:
    state.append('-')
except StaleElementReferenceException:
    state.append('-')
state=state[0:33]
print(len(state),state)

33 ['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands']

In [8]:
#scrape GSDP(18-19) of state 
GSDP_18_19=[]
try:
    gsdp_18_19=driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[4]')
    for x in gsdp_18_19:
        GSDP_18_19.append(x.text)
except NoSuchElementException:
    GSDP_18_19.append('-')
except StaleElementReferenceException:
    GSDP_18_19.append('-')
GSDP_18_19=GSDP_18_19[0:33]
print(len(GSDP_18_19),GSDP_18_19)

33 ['3,108,022', '2,071,286', '1,974,532', '1,962,725', '1,937,066', '1,363,926', '1,218,193', '1,136,137', '1,133,837', '1,128,907', '932,470', '904,642', '870,665', '670,881', '650,302', '614,227', '412,612', '406,416', '358,863', '272,159', '199,917', '176,269', '82,604', '62,550', '45,635', '44,238', '38,785', '37,557', '36,594', '35,124', '31,913', '27,824', '10,371']

In [9]:
#scrape GSDP(19-20) of state 
GSDP_19_20=[]
try:
    gsdp_19_20=driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[3]')
    for x in gsdp_19_20:
        GSDP_19_20.append(x.text)
except NoSuchElementException:
    GSDP_19_20.append('-')
except StaleElementReferenceException:
    GSDP_19_20.append('-')
GSDP_19_20=GSDP_19_20[0:33]
print(len(GSDP_19_20),GSDP_19_20)

33 ['-', '2,364,514', '2,257,575', '2,241,368', '-', '1,554,992', '1,413,620', '1,322,821', '1,317,728', '1,313,391', '-', '1,043,759', '994,154', '774,869', '751,396', '673,107', '493,167', '457,608', '393,722', '302,621', '227,927', '195,405', '-', '72,636', '-', '-', '42,697', '42,756', '-', '-', '-', '-', '-']

In [11]:
#scrape Share(2019) of state 
GSDP_19=[]
try:
    gsdp_19=driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[5]')
    for x in gsdp_19:
        GSDP_19.append(x.text)
except NoSuchElementException:
    GSDP_19.append('-')
except StaleElementReferenceException:
    GSDP_19.append('-')
GSDP_19=GSDP_19[0:33]
print(len(GSDP_19),GSDP_19)

33 ['13.24%', '8.82%', '8.41%', '8.36%', '8.25%', '5.81%', '5.19%', '4.84%', '4.83%', '4.81%', '3.97%', '3.85%', '3.71%', '2.86%', '2.77%', '2.62%', '1.76%', '1.73%', '1.53%', '1.16%', '0.85%', '0.75%', '0.35%', '0.27%', '0.19%', '0.19%', '0.17%', '0.16%', '0.16%', '0.15%', '0.14%', '0.12%', '0.04%']

In [13]:
#scrape GDP($ billion) of state 
GDP=[]
try:
    gsdp=driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[6]')
    for x in gsdp:
        GDP.append(x.text)
except NoSuchElementException:
    GDP.append('-')
except StaleElementReferenceException:
    GDP.append('-')
GDP=GDP[0:33]
print(len(GDP),GDP)

33 ['417.163', '278.011', '265.024', '263.440', '259.996', '183.068', '163.507', '152.494', '152.185', '151.523', '125.157', '121.422', '116.862', '90.047', '87.284', '82.442', '55.381', '54.550', '48.167', '36.530', '26.833', '23.659', '11.087', '8.396', '6.125', '5.938', '5.206', '5.041', '4.912', '4.714', '4.283', '3.735', '1.392']

In [14]:
#make dataframe
df=pd.DataFrame()
df['Rank']=rank
df['State Name']=state
df['State GSDP(18-19)']=GSDP_18_19
df['State GSDP(19_20)']=GSDP_19_20
df['State Share(2019)']=GSDP_19
df['State GDP($Billions)']=GDP
df

,Rank,State Name,State GSDP(18-19),State GSDP(19_20),State Share(2019),State GDP($Billions)
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
5,6,West Bengal,"1,363,926","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,218,193","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.83%,152.185
9,10,Telangana,"1,128,907","1,313,391",4.81%,151.523
10,11,Kerala,"932,470",-,3.97%,125.157
11,12,Delhi,"904,642","1,043,759",3.85%,121.422
12,13,Haryana,"870,665","994,154",3.71%,116.862
13,14,Odisha,"670,881","774,869",2.86%,90.047
14,15,Bihar,"650,302","751,396",2.77%,87.284
15,16,Punjab,"614,227","673,107",2.62%,82.442
16,17,Assam,"412,612","493,167",1.76%,55.381
17,18,Chhattisgarh,"406,416","457,608",1.73%,54.550
18,19,Jharkhand,"358,863","393,722",1.53%,48.167
19,20,Uttarakhand,"272,159","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.833
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.659
22,23,Goa,"82,604",-,0.35%,11.087
23,24,Tripura,"62,550","72,636",0.27%,8.396
24,25,Chandigarh,"45,635",-,0.19%,6.125
25,26,Puducherry,"44,238",-,0.19%,5.938
26,27,Meghalaya,"38,785","42,697",0.17%,5.206
27,28,Sikkim,"37,557","42,756",0.16%,5.041
28,29,Manipur,"36,594",-,0.16%,4.912
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.714
30,31,Nagaland,"31,913",-,0.14%,4.283
31,32,Mizoram,"27,824",-,0.12%,3.735
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.392

### 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [15]:
driver = webdriver.Chrome()
driver.get("https://github.com/")

In [17]:
trending_link=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
try:
    trending_link.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(trending_link.get_attribute('href'))

In [19]:

#Scrape Repository Title
title=[]
try:
    titles=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
    for x in titles:
        title.append(x.text.replace(' /',''))
except NoSuchElementException:
    title.append('-')
except StaleElementReferenceException:
    title.append('-')
print(len(title),title)

25 ['cloudflare', 'Lissy93', 'polyfillpolyfill', 'HumanAIGC', 'cloudcommunity', 'yuzu-emu', 'microsoft', 'HumanAIGC', 'kyegomez', 'dockur', 'FuelLabs', 'dair-ai', '1c7', 'memorysafety', 'Avaiga', 'aishwaryanr', 'wazuh', 'myshell-ai', 'pure-admin', 'python-poetry', 'microsoft', 'redis', 'FuelLabs', 'ossu', 'embedchain']

In [24]:
#scrape Repository Description
description=[]
try:
    descri=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for x in descri:
        description.append(x.text)
except NoSuchElementException:
    description.append('-')
except StaleElementReferenceException:
    description.append('-')
print(len(description),description)

24 ['A library for building fast, reliable and evolvable network services.', '🕵️\u200d♂️ All-in-one OSINT tool for analysing any website', 'Automatic polyfill service.', 'A curated list of free courses & certifications.', 'Nintendo Switch emulator', '18 Lessons, Get Started Building with Generative AI 🔗 https://microsoft.github.io/generative-ai-for-beginners/', 'Animate Anyone: Consistent and Controllable Image-to-Video Synthesis for Character Animation', 'Implementation of "BitNet: Scaling 1-bit Transformers for Large Language Models" in pytorch', 'Windows in a Docker container.', 'Rust full node implementation of the Fuel v2 protocol.', '🔥Highlighting the top ML papers every week.', '👩🏿\u200d💻👨🏾\u200d💻👩🏼\u200d💻👨🏽\u200d💻👩🏻\u200d💻中国独立开发者项目列表 -- 分享大家都在做什么', 'This repository is the future home of the River reverse proxy application, based on the pingora library from Cloudflare.', 'Turns Data and AI algorithms into production-ready web applications in no time.', 'A one stop repository for generative AI research updates, interview resources, notebooks and much more!', 'Wazuh - The Open Source Security Platform. Unified XDR and SIEM protection for endpoints and cloud workloads.', 'High-quality multi-lingual text-to-speech library by MyShell.ai. Support English, Spanish, French, Chinese, Japanese and Korean.', '🔥 全面ESM+Vue3+Vite+Element-Plus+TypeScript编写的一款后台管理系统（兼容移动端）', 'Python packaging and dependency management made easy', 'Large-scale Self-supervised Pre-training Across Tasks, Languages, and Modalities', '🚀 A robust, performance-focused, and full-featured Redis client for Node.js.', 'Fuel Network Rust SDK', '🎓 Path to a free self-taught education in Computer Science!', 'The Open Source RAG framework']

In [23]:
#scarpe Contributors count
contributor=[]
try:
    contributors=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[1]')
    for x in contributors:
        contributor.append(x.text)
except NoSuchElementException:
    contributor.append('-')
except StaleElementReferenceException:
    contributor.append('-')
print(len(contributor),contributor)

25 ['12,811', '14,690', '6,597', '4,943', '19,268', '38,622', '25,500', '13,468', '864', '3,998', '45,144', '7,436', '29,850', '515', '6,896', '972', '8,668', '1,189', '12,794', '28,819', '17,557', '13,340', '35,647', '159,852', '8,020']

### 5. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/

You have to find the following details:

1 Song name
2 Artist name
3 Last week rank
4 Peak rank
5 Weeks on board

In [32]:
driver = webdriver.Chrome()
driver.get("https://www.billboard.com/")

In [33]:
#open charts
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
try:
    charts.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(charts.get_attribute('href'))

In [34]:
#open Hot 100 page
hot=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
try:
    hot.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(hot.get_attribute('href'))

In [35]:
#scrape song name
name=[]
try:
    names=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
    for x in names:
        name.append(x.text)
except NoSuchElementException:
    name.append('-')
except StaleElementReferenceException:
    name.append('-')
print(len(name),name)

100 ["Texas Hold 'Em", 'Lovin On Me', 'Lose Control', 'Carnival', 'Beautiful Things', 'Snooze', 'Cruel Summer', 'Greedy', 'I Remember Everything', 'Agora Hills', 'Yes, And?', 'Stick Season', 'Fast Car', 'Water', 'Last Night', 'Redrum', "Thinkin' Bout Me", "Is It Over Now? (Taylor's Version) [From The Vault]", 'Pretty Little Poison', 'Flowers', 'Paint The Town Red', 'Houdini', 'Made For Me', 'Never Lose Me', 'La Diabla', 'Where The Wild Things Are', 'Training Season', 'The Painter', 'Feather', 'What Was I Made For?', 'Rich Baby Daddy', 'Whatever She Wants', 'Truck Bed', 'Selfish', 'Everybody', 'Vampire', 'Wild Ones', 'On My Mama', 'Praise Jah In The Moonlight', 'Save Me', 'Exes', 'Breathe', 'Dance The Night', 'Need A Favor', 'Surround Sound', 'World On Fire', 'Yeah!', 'Burn It Down', 'Good Good', 'La Victima', 'End Of Beginning', 'Get In With Me', 'Burn', 'Man Made A Bar', '16 Carriages', 'First Person Shooter', 'Fuk Sumn', 'One Of The Girls', 'Back To Me', 'One Call', 'Contigo', '23', 'Murder On The Dancefloor', 'You Broke My Heart', 'Think U The Shit (Fart)', 'FTCU', 'FE!N', 'Hiss', 'I Can Feel It', 'Bandit', 'Spin You Around (1/24)', 'Soak City', 'Forever', "Mamaw's House", 'Act II: Date @ 8', 'Igual Que Un Angel', 'Nee-nah', 'Wildflowers And Wild Horses', 'Bellakeo', 'Harley Quinn', 'Standing Next To You', 'Bittersweet', 'IDGAF', 'Home', 'Vultures', 'Yeah Glo!', 'Coal', 'Mmhmm', 'Psycho CEO', 'Perro Negro', 'Sensational', 'Oklahoma Smokeshow', 'Tu Name', 'Do It', 'Worth It', 'Talking', 'Monaco', 'Where It Ends', 'Wondering Why', 'Northern Attitude']

In [36]:
#scrape Artist name
artist=[]
try:
    artists=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span[1]')
    for x in artists:
        artist.append(x.text)
except NoSuchElementException:
    artist.append('-')
except StaleElementReferenceException:
    artist.append('-')
print(len(artist),artist)

100 ['Beyonce', 'Jack Harlow', 'Teddy Swims', '¥$: Kanye West & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti', 'Benson Boone', 'SZA', 'Taylor Swift', 'Tate McRae', 'Zach Bryan Featuring Kacey Musgraves', 'Doja Cat', 'Ariana Grande', 'Noah Kahan', 'Luke Combs', 'Tyla', 'Morgan Wallen', '21 Savage', 'Morgan Wallen', 'Taylor Swift', 'Warren Zeiders', 'Miley Cyrus', 'Doja Cat', 'Dua Lipa', 'Muni Long', 'Flo Milli', 'Xavi', 'Luke Combs', 'Dua Lipa', 'Cody Johnson', 'Sabrina Carpenter', 'Billie Eilish', 'Drake Featuring Sexyy Red & SZA', 'Bryson Tiller', 'HARDY', 'Justin Timberlake', 'Nicki Minaj Featuring Lil Uzi Vert', 'Olivia Rodrigo', 'Jessie Murph & Jelly Roll', 'Victoria Monet', 'YG Marley', 'Jelly Roll With Lainey Wilson', 'Tate McRae', 'Yeat', 'Dua Lipa', 'Jelly Roll', 'JID Featuring 21 Savage & Baby Tate', 'Nate Smith', 'Usher Featuring Lil Jon & Ludacris', 'Parker McCollum', 'Usher, Summer Walker & 21 Savage', 'Xavi', 'Djo', 'BossMan Dlow', '¥$: Kanye West & Ty Dolla $ign', 'Morgan Wallen Featuring Eric Church', 'Beyonce', 'Drake Featuring J. Cole', '¥$: Kanye West & Ty Dolla $ign', 'The Weeknd, Jennie & Lily Rose Depp', '¥$: Kanye West & Ty Dolla $ign', 'Rich Amiri', 'Karol G & Tiesto', 'Chayce Beckham', 'Sophie Ellis-Bextor', 'Drake', 'Ice Spice', 'Nicki Minaj', 'Travis Scott Featuring Playboi Carti', 'Megan Thee Stallion', 'Kane Brown', 'Don Toliver', 'Morgan Wallen', '310babii', 'Noah Kahan', 'Thomas Rhett Featuring Morgan Wallen', '4Batz', 'Kali Uchis & Peso Pluma', '21 Savage, Travis Scott & Metro Boomin', 'Lainey Wilson', 'Peso Pluma & Anitta', 'Fuerza Regida & Marshmello', 'Jung Kook', 'Gunna', 'Drake Featuring Yeat', 'Good Neighbours', '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J', 'GloRilla', 'Dylan Gossett', 'BigXthaPlug', 'Yeat', 'Bad Bunny & Feid', 'Chris Brown Featuring Davido & Lojay', 'Zach Bryan', 'Fuerza Regida', '¥$: Kanye West & Ty Dolla $ign', 'Offset & Don Toliver', '¥$: Kanye West & Ty Dolla $ign Featuring North West', 'Bad Bunny', 'Bailey Zimmerman', 'The Red Clay Strays', 'Noah Kahan With Hozier']

In [37]:
#scrape Last week rank
rank=[]
try:
    ranks=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
    for x in ranks:
        rank.append(x.text)
except NoSuchElementException:
    rank.append('-')
except StaleElementReferenceException:
    rank.append('-')
print(len(rank),rank)

100 ['2', '1', '5', '3', '4', '7', '6', '9', '8', '12', '31', '10', '11', '13', '14', '15', '16', '18', '24', '17', '19', '25', '32', '21', '22', '29', '-', '35', '42', '27', '41', '-', '51', '37', '40', '43', '45', '44', '63', '47', '49', '-', '46', '50', '54', '56', '20', '60', '36', '58', '-', '59', '33', '66', '38', '57', '23', '72', '26', '68', '-', '77', '73', '74', '62', '71', '76', '48', '82', '78', '70', '84', '28', '83', '81', '69', '80', '-', '87', '85', '61', '-', '88', '-', '34', '89', '95', '96', '-', '99', '-', '-', '-', '52', '-', '30', '97', '-', '-', '75']

In [38]:
#scrape Peak rank
peak=[]
try:
    peaks=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
    for x in peaks:
        peak.append(x.text)
except NoSuchElementException:
    peak.append('-')
except StaleElementReferenceException:
    peak.append('-')
print(len(peak),peak)

100 ['1', '1', '2', '3', '3', '2', '1', '3', '1', '7', '1', '10', '2', '7', '1', '5', '7', '1', '19', '1', '1', '11', '23', '18', '20', '26', '27', '28', '29', '14', '11', '32', '33', '19', '24', '1', '35', '33', '39', '19', '34', '42', '6', '13', '40', '21', '1', '48', '25', '46', '51', '52', '33', '15', '38', '1', '23', '57', '26', '60', '61', '62', '51', '11', '37', '15', '5', '1', '59', '38', '24', '61', '28', '55', '59', '22', '10', '78', '53', '40', '5', '82', '2', '77', '34', '86', '86', '65', '89', '20', '91', '72', '93', '52', '92', '30', '5', '32', '71', '37']

In [39]:
#scrape Weeks on board
board=[]
try:
    boards=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
    for x in boards:
        board.append(x.text)
except NoSuchElementException:
    board.append('-')
except StaleElementReferenceException:
    board.append('-')
print(len(board),board)

100 ['2', '15', '28', '2', '5', '62', '42', '23', '26', '22', '6', '21', '48', '21', '56', '6', '51', '17', '24', '53', '29', '15', '6', '10', '10', '14', '1', '20', '12', '31', '20', '1', '36', '4', '11', '31', '20', '23', '4', '33', '14', '1', '34', '45', '15', '17', '47', '18', '28', '10', '1', '3', '2', '22', '2', '20', '2', '9', '2', '4', '1', '8', '8', '14', '4', '11', '17', '4', '8', '3', '4', '10', '2', '8', '7', '6', '6', '4', '10', '16', '16', '1', '20', '3', '2', '2', '7', '9', '1', '16', '3', '17', '1', '2', '5', '2', '19', '8', '8', '12']

In [40]:
#make dataframe
df=pd.DataFrame()
df['Song name']=name
df['Artist name']=artist
df['Last week rank']=rank
df['Peak rank']=peak
df['Weeks on board']=board
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,15
2,Lose Control,Teddy Swims,5,2,28
3,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,¥$: Kanye West & Ty Dolla $ign Featuring North...,30,30,2
96,Monaco,Bad Bunny,97,5,19
97,Where It Ends,Bailey Zimmerman,-,32,8
98,Wondering Why,The Red Clay Strays,-,71,8
99,Northern Attitude,Noah Kahan With Hozier,75,37,12

In [41]:
driver.close()

### 6. Scrape the details of Highest selling novels.

In [57]:
driver = webdriver.Chrome()

# Fetching url
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [69]:
Book = []
Author = []
Publisher = []
Volume = []
Genre =[]


# for scraping the book name
book_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book_tags:
    book= i.text
    Book.append(book)
    
# for scraping the author name 
name_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in name_tags:
    name= i.text
    Author.append(name)
    
# for scraping the volumes sold
sold_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in sold_tags:
    sold= i.text
    Volume.append(sold)
    
# for scraping the publisher 
publish_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publish_tags:
    publish= i.text
    Publisher.append(publish)
    
# for scraping the genre 
genre_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre_tags:
    genre= i.text
    Genre.append(genre)
    
# Creating the data frame
import pandas as pd 
df= pd.DataFrame({'Book Name':Book,'Author Name':Author,"Volumes Sold":Volume,'Publisher':Publisher,'Genre':Genre})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [43]:
driver= webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [44]:
#scrape book name
name=[]
try:
    names=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for x in names:
        name.append(x.text)
except NoSuchElementException:
    name.append('-')
except StaleElementReferenceException:
    name.append('-')
print(len(name),name)

100 ['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [45]:
#scrape Author name
author=[]
try:
    authors=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for x in authors:
        author.append(x.text)
except NoSuchElementException:
    author.append('-')
except StaleElementReferenceException:
    author.append('-')
print(len(author),author)

100 ['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

In [47]:
#scrape Volumes sold
sold=[]
try:
    solds=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for x in solds:
        sold.append(x.text)
except NoSuchElementException:
    sold.append('-')
except StaleElementReferenceException:
    sold.append('-')
print(len(sold),sold)

100 ['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

In [49]:
#scrape publisher name
publisher=[]
try:
    publishers=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for x in publishers:
        publisher.append(x.text)
except NoSuchElementException:
    publisher.append('-')
except StaleElementReferenceException:
    publisher.append('-')
print(len(publisher),publisher)

100 ['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

In [50]:
#scrape Genre name
genre=[]
try:
    genres=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for x in genres:
        genre.append(x.text)
except NoSuchElementException:
    genre.append('-')
except StaleElementReferenceException:
    genre.append('-')
print(len(genre),genre)

100 ['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [51]:
#make dataframe
df=pd.DataFrame()
df['Book name']=name
df['Author name']=author
df['Volumes sold']=sold
df['Publisher']=publisher
df['Genre']=genre
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [52]:
driver.close()

### 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [71]:
driver = webdriver.Chrome()

# Fetching url
driver.get('https://www.imdb.com/list/ls512407256/')

In [89]:
Name=[]
Year = []
Genre = []
Runtime = []
Rating = []
Votes= []

In [90]:
# for scraping the name on the page
name_tags = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in name_tags:
    naming = i.text
    Name.append(naming)
    
# for scraping the Year span
year_tags = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_tags:
    year = i.text
    Year.append(year)
    
# for scraping the Genre
genre_tags = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre_tags:
    genre = i.text
    Genre.append(genre)
    
# for scraping the Runtime
time_tags = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in time_tags:
    time= i.text
    Runtime.append(time)
    
# for scraping the Rating
rating_tags = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
for i in rating_tags:
    rating= i.text
    Rating.append(rating)
    
# for scraping the Voting
voting_tags = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in voting_tags:
    voting= i.text
    Votes.append(voting)
    
# Creating dataframe
import pandas as pd
df=pd.DataFrame({"Name":Name,"Year Span":Year,"Genre":Genre,"Run Time":Runtime,"Rating":Rating,"Votes":Votes})
df

,Name,Year Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",55 min,9.2,"2,262,355"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,331"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,072,174"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"313,460"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,387"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"645,444"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"162,050"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,868"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"433,070"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"138,683"

### 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

In [53]:
driver = webdriver.Chrome()

# Fetching url
driver.get('https://archive.ics.uci.edu/')

In [55]:
#open view all datasets
data_sets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
try:
    data_sets.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(data_sets.get_attribute('href'))

In [59]:
#scrape Dataset name
name=[]
try:
    names=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
    for x in names:
        name.append(x.text)
except NoSuchElementException:
    name.append('-')
except StaleElementReferenceException:
    name.append('-')
print(len(name),name)

10 ['Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine', 'Wine Quality', 'Diabetes']

In [65]:
#scrape Data type
data=[]
try:
    datas=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
    for x in datas:
        data.append(x.text)
except NoSuchElementException:
    data.append('-')
except StaleElementReferenceException:
    data.append('-')
print(len(data),data)

10 ['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Time-Series']

In [67]:
#scrape Task
task=[]
try:
    tasks=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
    for x in tasks:
        task.append(x.text)
except NoSuchElementException:
    task.append('-')
except StaleElementReferenceException:
    task.append('-')
print(len(task),task)

10 ['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification']

In [68]:
#scrape No of instances
instance=[]
try:
    instances=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
    for x in instances:
        instance.append(x.text)
except NoSuchElementException:
    instance.append('-')
except StaleElementReferenceException:
    instance.append('-')
print(len(instance),instance)

10 ['150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '569 Instances', '178 Instances', '4.9K Instances', '1 Instances']

In [71]:
#scrape No of attribute
attribute=[]
try:
    attributes=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
    for x in attributes:
        attribute.append(x.text)
except NoSuchElementException:
    attribute.append('-')
except StaleElementReferenceException:
    attribute.append('-')
print(len(attribute),attribute)

10 ['4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '30 Features', '13 Features', '12 Features', '20 Features']

In [72]:
#make dataframe
df=pd.DataFrame()
df['Dataset name']=name
df['Data type']=data
df['Task']=task
df['No of instances']=instance
df['No of attribute']=attribute
df

,Dataset name,Data type,Task,No of instances,No of attribute
0,Iris,Tabular,Classification,150 Instances,4 Features
1,Dry Bean Dataset,Multivariate,Classification,13.61K Instances,16 Features
2,Heart Disease,Multivariate,Classification,303 Instances,13 Features
3,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances,7 Features
4,Adult,Multivariate,Classification,48.84K Instances,14 Features
5,Raisin,Multivariate,Classification,900 Instances,8 Features
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances,30 Features
7,Wine,Tabular,Classification,178 Instances,13 Features
8,Wine Quality,Multivariate,"Classification, Regression",4.9K Instances,12 Features
9,Diabetes,"Multivariate, Time-Series",Classification,1 Instances,20 Features

In [73]:
driver.close()