In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\heram\anakonda\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\heram\anakonda\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\heram\anakonda\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: trio~=0.17 in c:\users\heram\anakonda\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\heram\anakonda\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\heram\anakonda\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: idna in c:\users\heram\anakonda\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\heram\anakonda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\heram\anakonda\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in c:\users\heram\anakonda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\heram\anakonda\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\heram\anakonda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\heram\anakonda\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\heram\anakonda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\heram\anakonda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\heram\anakonda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\heram\anakonda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

### Q1. Write a python program to script data for "Data analyst" job position in "Bangalore" location. You have to scrape the job title, job location, company name, experience required. You have to scrape first 10 jobs data.

In [3]:
driver = webdriver.Chrome()

In [4]:
# to get the web page https:/www.shine.com/
driver.get('https:/www.shine.com/')

In [48]:
# To enter "Data Analyst" in "Job Title, Skills" field and enter "Bangalore" in "enter the location" field.
search = driver.find_element(By.CLASS_NAME,'input')
search.click()

In [49]:
# enter the designation as Data Analyst
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [50]:
# to enter "Banglore" in location
location = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore ')

In [51]:
# Then click on search button
search1 = driver.find_element(By.CLASS_NAME,'searchForm_btnWrap_advance__VYBHN')
search1.click()

In [52]:
# Scraping the data for the first 10 jobs result we get
job_title = []
job_location = []
company_name = []
experience_required = []

In [53]:
# for scraping the Job title on the page
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [54]:
# Scrapping job location for the given page
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [55]:
# Scrapping company name from the given page
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [56]:
# Scraping job experience from the given page
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [57]:
# 5. Finally creating a data frame of the scraped data
import pandas as pd
df= pd.DataFrame({'Title':job_title,'Location':job_location,"Company name":company_name,'experience':experience_required})
df

,Title,Location,Company name,experience
0,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,Data Management,Bangalore\n+18,future solution centre,15 to >25 Yrs
4,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
5,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Engineer Ii,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
7,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Full time Opportunity-Networking Advisor-Cisco...,Bangalore\n+5,ntt data information processing ser...,10 to 20 Yrs
9,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs

### Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [58]:
driver = webdriver.Chrome()

In [59]:
# to get the web page https:/www.shine.com/
driver.get('https:/www.shine.com/')

In [60]:
# To enter "Data Scientist" in "Job Title, Skills" field and enter "Bangalore" in "enter the location" field.
search = driver.find_element(By.CLASS_NAME,'input')
search.click()

In [61]:
# enter the designation as Data Scientist
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [63]:
# to enter "Banglore" in location
location = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore ')

In [64]:
# Then click on search button
search1 = driver.find_element(By.CLASS_NAME,'searchForm_btnWrap_advance__VYBHN')
search1.click()

In [65]:
# Scraping the data for the first 10 jobs result we get
job_title = []
job_location = []
company_name = []
experience_required = []

In [66]:
# for scraping the Job title on the page
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
# Scrapping job location for the given page
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
    
# Scrapping company name from the given page
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
    
# Scraping job experience from the given page
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [67]:
# 5. Finally creating a data frame of the scraped data
import pandas as pd
df= pd.DataFrame({'Title':job_title,'Location':job_location,"Company name":company_name,'experience':experience_required})
df

,Title,Location,Company name,experience
0,Data Scientist Recruitment,Bangalore\n+15,renuka interprises,0 to 4 Yrs
1,Data Scientist Recruitment,Bangalore\n+15,renuka interprises,0 to 4 Yrs
2,Data Scientist,Bangalore\n+4,acme services private limited,3 to 5 Yrs
3,Data Scientist,Bangalore,ltimindtree limited,6 to 8 Yrs
4,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal,5 to 9 Yrs
5,Senior Data Scientist,Bangalore\n+1,neostats,7 to 11 Yrs
6,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
7,Lead Data Scientist,Bangalore\n+1,aereo,7 to 10 Yrs
8,Data Scientist,Bangalore\n+7,people staffing solutions,4 to 9 Yrs
9,Data Scientist Urgent Vacancy,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs

### Q3: In this question you have to scrape data using the filters available on the webpage
#### You have to use the location and salary filter.
#### You have to scrape data for “Data Scientist” designation for first 10 job results.
#### You have to scrape the job-title, job-location, company name, experience required.
#### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [68]:
driver = webdriver.Chrome()

In [69]:
# to get the web page https:/www.shine.com/
driver.get('https:/www.shine.com/')

In [70]:
# To enter "Data Scientist" in "Job Title, Skills" field and enter "Bangalore" in "enter the location" field.
search = driver.find_element(By.CLASS_NAME,'input')
search.click()

In [71]:
# enter the designation as Data Scientist
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [72]:
# Then click on search button
search1 = driver.find_element(By.CLASS_NAME,'searchForm_btnWrap_advance__VYBHN')
search1.click()

In [99]:
# to cllick on the location filter
loc_search = driver.find_element(By.CLASS_NAME,"filter_filter_lists_items__wlFfo")
loc_search.click()

In [100]:
loc_filter = driver.find_element(By.CLASS_NAME,"form-control")
loc_filter.send_keys('Delhi')

In [101]:
loc_select = driver.find_element(By.CLASS_NAME,"filter_filter_option_item__bvdpQ")
loc_select.click()

In [102]:

show1 = driver.find_element(By.XPATH,'//div[@class="filter_btnWrap__5ToWy"]/button[2]')
show1.click()

In [95]:
# To click on the salary filter.
salaryfilter = driver.find_element(By.XPATH,'//ul[@class="filter_filter_lists__yAeUR"]/li[3]')
salaryfilter.click()

In [97]:
sal_select = driver.find_element(By.XPATH,'//li[@class="filter_filter_option_item__bvdpQ"][2]')
sal_select.click()

In [98]:
show2 = driver.find_element(By.XPATH,'//div[@class="filter_btnWrap__5ToWy"]/button[2]')
show2.click()

In [103]:
# Scraping the data for the first 10 jobs result we get
job_title = []
job_location = []
company_name = []
experience_required = []

In [104]:
# for scraping the Job title on the page
title_tags = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
# Scrapping job location for the given page
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
    
# Scrapping company name from the given page
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
    
# Scraping job experience from the given page
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [105]:
#  Finally creating a data frame of the scraped data
import pandas as pd
df= pd.DataFrame({'Title':job_title,'Location':job_location,"Company name":company_name,'experience':experience_required})
df

,Title,Location,Company name,experience
0,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
1,Hiring candidates for Marketing with Fare & Da...,Delhi\n+2,sharda it services,2 to 5 Yrs
2,Hiring for Fare & Data Analyst-Travel process,Delhi\n+2,sharda it services,1 to 6 Yrs
3,Clinical Data Analyst,Delhi\n+6,techno endura,0 to 1 Yr
4,Clinical SAS,Delhi\n+8,techno endura,0 to 2 Yrs
5,Bioanalytical Research,Delhi\n+6,techno endura,0 to 1 Yr
6,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
7,Bioanalytical Research Associates,Delhi\n+6,techno endura,0 to 1 Yr
8,Junior Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
9,Clinical Analyst Fresher,Delhi\n+6,techno endura,0 to 1 Yr

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price

In [106]:
driver = webdriver.Chrome()

In [107]:
# Go to Flipkart webpage by url :https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [208]:
# Writing sunglasses in the search tab
item_search= driver.find_element(By.CLASS_NAME,"Pke_EE")
item_search.send_keys('Sunglasses')

In [209]:
# to click on search logo
search = driver.find_element(By.CLASS_NAME,'_2iLD__')
search.click()

In [210]:
# Scraping the following data
brand=[]
product_description=[]
price=[]

In [211]:
# for scraping the brand on the page
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    tags = i.text
    brand.append(tags)
    
print(len(brand))


# for scraping product description
product_tags = driver.find_elements(By.XPATH,('//div[@class="_2B099V"]/a[1]'))
for i in product_tags:
    product = i.text
    product_description.append(product)
    
print(len(product_description))

# for scraping price
product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
for i in product_price:
    pro_pri=i.text
    price.append(pro_pri)
    
print(len(price))

40
40
40

In [212]:
# to go on the next page
next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [213]:
# for scraping the brand on the page again
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    tags = i.text
    brand.append(tags)
    
print(len(brand))


# for scraping product description again
product_tags = driver.find_elements(By.XPATH,('//div[@class="_2B099V"]/a[1]'))
for i in product_tags:
    product = i.text
    product_description.append(product)
    
print(len(product_description))

# for scraping price again
product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
for i in product_price:
    pro_pri=i.text
    price.append(pro_pri)
    
print(len(price))

80
80
80

In [214]:
# to go on the next page again
next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()

In [215]:
# for scraping the brand on the page again
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:20]:
    tags = i.text
    brand.append(tags)
    
print(len(brand))


# for scraping product description again
product_tags = driver.find_elements(By.XPATH,('//div[@class="_2B099V"]/a[1]'))
for i in product_tags[0:20]:
    product = i.text
    product_description.append(product)
    
print(len(product_description))

# for scraping price again
product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
for i in product_price[0:20]:
    pro_pri=i.text
    price.append(pro_pri)
    
print(len(price))

100
100
100

In [216]:
import pandas as pd
df=pd.DataFrame({'Brand':brand,'Product Description':product_description,'Price':price})
df

            Brand                                Product Description Price
0            SRPM             UV Protection Wayfarer Sunglasses (50)  ₹169
1         ROADWAY  UV Protection Wayfarer, Sports, Spectacle , Re...  ₹129
2         ROADWAY      UV Protection Wayfarer Sunglasses (Free Size)  ₹189
3         ROADWAY  UV Protection Retro Square, Wayfarer, Sports S...  ₹129
4          Niavaa  UV Protection Retro Square Sunglasses (Free Size)  ₹247
..            ...                                                ...   ...
95   Silver Kartz      UV Protection Wayfarer Sunglasses (Free Size)  ₹219
96  VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹786
97      ROYAL SON                   Mirrored Aviator Sunglasses (55)  ₹359
98         PIRASO              Riding Glasses Sports Sunglasses (54)  ₹199
99      ROYAL SON              Polarized Rectangular Sunglasses (60)  ₹594

[100 rows x 3 columns]

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [383]:
driver = webdriver.Chrome()

In [384]:
# opening the website
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [399]:
# Creating them to list
rating =[]
Rvw_sum=[]
full_sum=[]

In [400]:
title_rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in title_rating:
    rating.append(i.text)

    
rvw=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in rvw:
    Rvw_sum.append(i.text)
    
    
    
full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full:
        full_sum.append(i.text)

In [401]:
next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_button.click()

In [402]:
start = 0
end = 9
for page in range(start,end):
    title_rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in title_rating:
        rating.append(i.text)
    rvw=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rvw:
        Rvw_sum.append(i.text)
    full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full:
        full_sum.append(i.text)
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
    next_button.click()
    time.sleep(3)

In [403]:
df=pd.DataFrame({'Rating':rating,'Review Summary':Rvw_sum,'full review':full_sum})
df

,Rating,Review Summary,full review
0,5,Perfect product!,V Good all
1,5,Best in the market!,Good Camera
2,5,Worth every penny,Feeling awesome after getting the delivery of ...
3,5,Wonderful,This is amazing at all
4,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
...,...,...,...
95,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
96,5,Wonderful,Excellent Fabulous Adorable Iphone 11 Value fo...
97,4,Very Good,I switched to IOS for long term use and for be...
98,5,Brilliant,Perfect iPhone on this budget!! Camera and the...
99,5,Classy product,Outstanding performance this phone

### Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [294]:
driver = webdriver.Chrome()

In [295]:
# Go to Flipkart webpage by url :https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [296]:
# Writing sneakers in the search tab
item_search= driver.find_element(By.CLASS_NAME,"Pke_EE")
item_search.send_keys('Sneakers')

In [297]:
# to click on search logo
search = driver.find_element(By.CLASS_NAME,'_2iLD__')
search.click()

In [304]:
# Scraping the following data
brand=[]
product_description=[]
price=[]

In [305]:
# for scraping the brand on the page
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    tags = i.text
    brand.append(tags)
    
print(len(brand))


# for scraping product description
product_tags = driver.find_elements(By.XPATH,('//div[@class="_2B099V"]/a[1]'))
for i in product_tags:
    product = i.text
    product_description.append(product)
    
print(len(product_description))

# for scraping price
product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
for i in product_price:
    pro_pri=i.text
    price.append(pro_pri)
    
print(len(price))

40
40
40

In [306]:
# to go on the next page
next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

In [307]:
# for scraping the brand on the page again
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    tags = i.text
    brand.append(tags)
    
print(len(brand))


# for scraping product description again
product_tags = driver.find_elements(By.XPATH,('//div[@class="_2B099V"]/a[1]'))
for i in product_tags:
    product = i.text
    product_description.append(product)
    
print(len(product_description))

# for scraping price again
product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
for i in product_price:
    pro_pri=i.text
    price.append(pro_pri)
    
print(len(price))

80
80
80

In [308]:
# to go on the next page again
next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span')
next_button.click()

In [309]:
# for scraping the brand on the page again
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:20]:
    tags = i.text
    brand.append(tags)
    
print(len(brand))


# for scraping product description again
product_tags = driver.find_elements(By.XPATH,('//div[@class="_2B099V"]/a[1]'))
for i in product_tags[0:20]:
    product = i.text
    product_description.append(product)
    
print(len(product_description))

# for scraping price again
product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
for i in product_price[0:20]:
    pro_pri=i.text
    price.append(pro_pri)
    
print(len(price))

100
100
100

In [310]:
import pandas as pd
df=pd.DataFrame({'Brand':brand,'Product Description':product_description,'Price':price})
df

          Brand                                Product Description   Price
0        VECHLO  Trendy | Sport |Fashion Sneaker | Gym | Runnin...    ₹598
1          aadi                                   Sneakers For Men    ₹349
2          PUMA                           DISRIDE Sneakers For Men  ₹1,203
3          ATOM                    Alpha Predator Sneakers For Men  ₹1,339
4          aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹299
..          ...                                                ...     ...
95     RED TAPE  Vulcanised Casual Shoes for Men | Soft Cushion...  ₹1,179
96         aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹349
97        asian  Boston-01 Chunky ,Loafers,Walking Shoes Sneake...    ₹750
98  New Balance                               327 Sneakers For Men  ₹4,032
99         PUMA                 ST Runner v3 Mesh Sneakers For Men  ₹2,114

[100 rows x 3 columns]

### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [234]:
driver = webdriver.Chrome()

In [235]:
# Go to Amazon webpage by url :https://www.amazon.in/
driver.get('https://www.amazon.in/')

In [263]:
# to go on clicking on search 
search_tab = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_tab.click()

In [264]:
# Writing laptop in the search tab
item_search= driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
item_search.send_keys('Laptop')

In [265]:
# to go on clicking on search 
search_button = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

In [267]:
# to go on clicking on search 
filter_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[7]/ul[19]/span/span[9]/li/span/a/span')
filter_button.click()

In [291]:
# Creating the empty list.
title = []
rating = []
price=[]

In [292]:
# for scraping the title on the page
title_tags = driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in title_tags[0:10]:
    tags = i.text
    title.append(tags)
    
print(len(title))


# for scraping product rating
product_rating = driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for i in product_rating[0:10]:
    product = i.text
    rating.append(product)
    
print(len(rating))

# for scraping price again
product_price = driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-no-hover s-underline-text s-underline-link-text s-link-style a-text-normal"]/span') 
for i in product_price[0:10]:
    pro_pri=i.text
    price.append(pro_pri)
    
print(len(price))

10
10
10

In [293]:
import pandas as pd
df=pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
df

                                               Title Rating      Price
0  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...           ₹49,990
1  Acer Travelmate Business Laptop Intel Core i7-...           ₹49,990
2  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...           ₹76,490
3  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...           ₹84,899
4  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...           ₹62,990
5  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...           ₹81,990
6  MSI CreatorPro M16, Intel 13th Gen. i7-13700H,...         ₹1,50,802
7  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...           ₹77,490
8  HP Pavilion X360 11th Gen Intel Core i7 14" (3...           ₹78,990
9  HP Victus Gaming Laptop, 12th Gen Intel Core i...           ₹81,990

### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [311]:
driver = webdriver.Chrome()

In [313]:
# Go to webpage by url :https://www.azquotes.com/
driver.get('https://www.azquotes.com//')

In [314]:
# clicking on top quotes 
quote_tab = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
quote_tab.click()

In [333]:
# crearing the empty list
quote=[]
author=[]
quote_type=[]

In [334]:
quote_tag= driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tag:
    quote.append(i.text)
    
    
athr=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in athr:
    author.append(i.text)
    
    
tag_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in tag_type:
    quote_type.append(i.text)
    
    
next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
next_button.click()

In [335]:
start = 0
end = 9
for page in range(start,end):
    quote_tag= driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        quote.append(i.text)
    athr=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in athr:
        author.append(i.text)
    tag_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in tag_type:
        quote_type.append(i.text)
        
    try:
        next_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[13]/a')
        next_button.click() 
    except:
        pass
    time.sleep(3) 
    
    
len(quote)
len(author)
len(quote_type)

1000

In [336]:
import pandas as pd
df=pd.DataFrame({'Quote':quote ,'Author':author,'type':quote_type})
df.tail()

,Quote,Author,type
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [337]:
driver = webdriver.Chrome()

In [338]:
# opening the website
driver.get('https://www.jagranjosh.com/')

In [ ]:
# to click on the gk tab
gk = driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
gk.click()

In [340]:
# to cllick on the explore
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[8]/section[7]/div[1]/span/a')
explore.click()

In [341]:
# to open the list
open_list = driver.find_element(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/section/div/ul/li[6]/article/h3/a')
open_list.click()

In [375]:
#creating the empty list
name=[]
born_dead=[]
term_off=[]
remarks=[]

In [376]:
# To scrape Names
name_tag= driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[2]')
for i in name_tag[0:19]:
    name.append(i.text)
    
# to scrape born and death data
born_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[3]')
for i in born_tag:
    born_dead.append(i.text)
    

# to scrape terms of office
term_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[4]')
for i in term_tag:
    term_off.append(i.text)
    

# to scrape remarks
remark_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[5]')
for i in remark_tag:
    remarks.append(i.text)

In [378]:
import pandas as pd
df=pd.DataFrame({'Name Of President':name ,'Born-Dead':born_dead,'Terms of Office':term_off,'Remarks':remarks})
df

,Name Of President,Born-Dead,Terms of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [379]:
driver = webdriver.Chrome()

In [381]:
# opening the website
driver.get('https://www.motor1.com/')

MaxRetryError: HTTPConnectionPool(host='localhost', port=50049): Max retries exceeded with url: /session/b92e27d0f3edbe5c8cdf973e4645703c/url (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x0000023569A3A8F0>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))

### the website didn't allow us to scrape the data